body {
	min-width: 680px;
}

#navbtn
{
	position:absolute;
	padding-top:6px;
	right: 10px;
}

#badge{
	background-color: rgba(245, 36, 48, 100);
	color:white;
}

@media (max-width: 767px) {
	#navbtn
	{
		position:absolute;
		padding-top:6px;
		right:60px;
	}
}
